{% extends 'base.html' %}

{% block content %}
<form method="post" action="" enctype="multipart/form-data">
	<table class="share-dialog">
		<tr>
			<th>
				{{ form.file.label }}
			</th>
			<th>
				{{ form.file }}
			</th>
		</tr>
		<tr>
			<th>
				{{ form.accesspwd1.label }}
			</th>
			<th>
				{{ form.accesspwd1 }}
			</th>
		</tr>
		<tr>
			<th>
				{{ form.accesspwd2.label }}
			</th>
			<th>
				{{ form.accesspwd2 }}
			</th>
		</tr>
		<tr>
			<th>
				{{ form.deletionpwd1.label }}
			</th>
			<th>
				{{ form.deletionpwd1 }}
			</th>
		</tr>
		<tr>
			<th>
				{{ form.deletionpwd2.label }}
			</th>
			<th>
				{{ form.deletionpwd2 }}
			</th>
		</tr>
	</table>
	{% csrf_token %}
	<button class="black-button">Submit</button>
	{% if errormsg %}
	<p class="errormsg"> {{errormsg }}</p>
	{% endif %}
</form>
{% endblock %}
